.app {
  background-color: rgb(44, 44, 63);
  min-height: 100vh;
}
.app__hero {
  margin-bottom: 2em;
}
.app__form {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.app__input {
  padding: 0.6em 1.2em;
  border-radius: 0.5em 0 0 0.5em;
}
.app__btn {
  border-radius: 0 0.5em 0.5em 0;
  padding: 0 1em;
  background-color: rgb(113, 200, 26);
  color: white;
}
.app__btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: white;
  color: rgb(113, 200, 26);
}

span {
  font-weight: bold;
}
